@mixin font-face($name, $file) {
  @font-face {
    font-family: "#{$name}";
    src: local("#{name}"), url("~@/fonts/#{$file}.ttf") format("truetype");
  }
}

@include font-face(golos, golos);
@include font-face(golos, golostext_black);
@include font-face(golos, golostext_bold);
@include font-face(golos, golostext_demibold);
@include font-face(golos, golostext_medium);
@include font-face(golos, golostext_regular);
@include font-face(roadradio, RoadRadio);
@include font-face(graphik lc web, graphiklcweb_medium);

.container {
  max-width: 1290px;
  margin: 0 auto;

  @media screen and (max-width: 1320px) {
    margin: 0 30px;
  }
}

body {
  font-family: "Golos";
  margin-left: 0;
  margin-right: 0;
}
