@mixin font-face($name, $file) {
  @font-face {
    font-family: "#{$name}";
    src: local("#{name}"), url("~@/fonts/#{$file}.ttf") format("truetype");
  }
}

@include font-face(Golos, golos);
@include font-face(Golos, golostext_black);
@include font-face(Golos, golostext_bold);
@include font-face(Golos, golostext_medium);
@include font-face(Golos, golostext_regular);
@include font-face(RoadRadio, RoadRadio);
@include font-face("Graphik LC Web", graphiklcweb_medium);
@include font-face("Akzidenz-Grotesk Pro", akzidenzgroteskpro_regular);
@include font-face(Inter, Inter-Regular);

.container {
  max-width: 1290px;
  margin: 0 auto;

  @media screen and (max-width: 1320px) {
    margin: 0 30px;
  }
}

body {
  font-family: "Golos";
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}
